@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-[#333] font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#002B5B] to-[#C5A059];
  }

  .glass-panel {
    @apply bg-white/90 backdrop-blur-md border border-white/20 shadow-xl;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 120s linear infinite;
  will-change: transform;
}

.animate-marquee:hover {
  animation-play-state: paused;
}